* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
.navbar-links-large {
  display: flex;
  align-items: center; /* Centraliza verticalmente os links */
  gap: 12rem;
}

.navbar-links-large .nav-link {
  color: #f6f6f6;
  text-decoration: none;
}

/* Exibe os links apenas em telas grandes */
.d-none.d-lg-flex {
  display: none;
}

.navbar-links-large .nav-link {
  color: #f6f6f6;
  text-decoration: none;
  position: relative;
  opacity: 0; /* Inicialmente invisível */
  transform: translateY(10px); /* Começa ligeiramente deslocado para baixo */
  transition: opacity 1s ease, transform 1s ease; /* Animação suave */
}
/* Efeito de sublinhado no hover */
.navbar-links-large .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #ff7300;
  transition: width 0.3s ease;
  opacity: 1;
}

.navbar-links-large .nav-link:hover::after {
  width: 100%; /* Expande o sublinhado ao passar o mouse */
}

/* Animação de surgimento dos links */
.navbar-links-large .nav-link.visible {
  opacity: 1;
  transform: translateY(0); /* Move para a posição final */
}

.navbar-links-large .nav-link:hover {
  color: #007bff;
}

.navbar-links-large .nav-link:hover::after {
  transform: scaleX(1);
}

@media (min-width: 992px) {
  .d-none.d-lg-flex {
    display: flex;
  }
}
.carousel-inner {
  position: relative;
  overflow: hidden;
}

.paginaa {
  padding-top: 5rem;
}

@media (max-width: 600px) {
  .paginaa {
    padding-top: 5rem;
  }
}

/* Adicionar este estilo para o alerta de senha fraca */
.alert-password {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 10px;
  background-color: #dc3545; /* Vermelho para alerta */
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1001;
}

.alert-password.show {
  opacity: 1;
}

.principal {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.paginCartao {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  gap: 1rem;
}

header {
  width: 100%;
  color: #fff;
}

.logo_machine {
  width: 80px;
  height: 80px;
}
li {
  list-style-type: none;
}
.text-copy {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  font-size: 4vh;
  padding: rem;
  justify-content: center;
}

.card h5 {
  color: #ffbc02f8;

  font-size: 3vh;
}

.card2 h5 {
  color: #7c7c7c;
  font-size: 3vh;
}

.card3 h5 {
  color: #01cbb0;
  font-size: 3vh;
}

.card h4 {
  color: #a17600;

  font-size: 3vh;
}

.card2 h4 {
  color: #808080;
  font-size: 3vh;
}

.card3 h4 {
  color: #01b3cb;
  font-size: 3vh;
}

h5 {
  font-size: 5vh;
  text-align: center;
  padding: 1.5rem;
}

.input {
  padding: 0.5rem;
  border-radius: 10px;
}

.show-password-btn {
  background-color: transparent;
  border: none;
  color: #ff6a00;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
  text-align: center;
  width: 100%;
}

.show-password-btn:hover {
  text-decoration: underline;
}

div.card {
  text-decoration: none;
  margin-top: 1rem;
  display: flex;
  /* Ativa o Flexbox */
  flex-direction: column;
  /* Garante que os itens fiquem lado a lado */
  justify-content: center;
  /* Centraliza os itens horizontalmente */
  background-color: #fff;
  padding: 1rem;
  gap: 2rem;
  border-radius: 3rem;
  max-width: 90%;
  /* Limita a largura máxima para ser responsivo */
  margin: 5rem auto;
  /* Centraliza com auto e reduz a margem */
  border: 5px solid #0000;
  border-radius: 3rem;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(var(--angle), #ffffff, #ffdd02, #fcce00) border-box;
  animation: 4s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

div.card2 {
  margin-top: 1rem;
  display: flex;
  /* Ativa o Flexbox */
  flex-direction: column;
  /* Garante que os itens fiquem lado a lado */
  justify-content: center;
  /* Centraliza os itens horizontalmente */
  background-color: #fff;
  padding: 1rem;
  gap: 2rem;
  border-radius: 3rem;
  max-width: 90%;
  /* Limita a largura máxima para ser responsivo */
  margin: 5rem auto;
  /* Centraliza com auto e reduz a margem */
  border: 5px solid #0000;
  border-radius: 3rem;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(var(--angle), #ffffff, #6d6d6d, #3d3d3d9a) border-box;
  animation: 4s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

div.card3 {
  margin-top: 1rem;
  display: flex;
  /* Ativa o Flexbox */
  flex-direction: column;
  /* Garante que os itens fiquem lado a lado */
  justify-content: center;
  /* Centraliza os itens horizontalmente */
  background-color: #fff;
  padding: 1rem;
  gap: 2rem;
  border-radius: 3rem;
  max-width: 90%;
  /* Limita a largura máxima para ser responsivo */
  margin: 5rem auto;
  /* Centraliza com auto e reduz a margem */
  border: 5px solid #0000;
  border-radius: 3rem;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(var(--angle), #ffffff, #37f8db, #03beedfb) border-box;
  animation: 4s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.flip-card {
  margin: 0 auto;
  background-color: transparent;
  width: 240px;
  height: 154px;
  perspective: 2000px;
  color: rgb(0, 0, 0);
}

.heading_8264 {
  position: absolute;
  font-size: 1em;
  top: 0.75em;
  left: 1em;
  /* font-weight: 600; */
  text-shadow: -0.2px -0.2px 0.2px rgb(0, 0, 0), 0.2px -0.2px 0.2px gray,
    -0.2px 0.2px 0.2px white, 0.2px 0.2px 0.2px gray;
}

.logo {
  position: absolute;
  top: 6.8em;
  left: 11.7em;
}

.chip {
  position: absolute;
  top: 2.3em;
  left: 1.5em;
}

.contactless {
  position: absolute;
  top: 3.5em;
  left: 12.4em;
}

.number {
  position: absolute;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.75em;
  top: 7em;
  left: 1.5em;
}

.date_8264 {
  position: absolute;
  font-weight: 600;
  font-size: 0.75em;
  top: 9em;
  left: 1.5em;
  letter-spacing: 2px;
}

.cvc_number {
  position: absolute;
  font-weight: 600;
  font-size: 0.75em;
  top: 9em;
  left: 8.5em;
  letter-spacing: 2px;
}

.cvc {
  position: absolute;
  font-weight: 600;
  font-size: 5px;
  top: 6.9rem;
  left: 8rem;
}

.exp {
  position: absolute;
  font-weight: 600;
  font-size: 5px;
  top: 6.9rem;
  left: 3.8rem;
}

.name {
  position: absolute;
  font-weight: 400;
  font-size: 8.5px;
  top: 15em;
  left: 2em;
  color: #000000;
}

.strip {
  position: absolute;
  background-color: white;
  width: 15em;
  height: 2.25em;
  top: 0;
  border-radius: 1rem 1rem 0 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(135deg, #fad51efe, hsl(53, 83%, 86%), #ffbb00);
  border: 1px solid rgb(252, 217, 42);
}

.flip-card-back {
  background: linear-gradient(135deg, #f5cc00fe, hsl(54, 84%, 85%), #ffbb00);
  transform: rotateY(180deg);
}

.flip-card2 {
  margin: 0 auto;
  background-color: transparent;
  width: 240px;
  height: 154px;
  perspective: 1000px;
  color: rgb(0, 0, 0);
}

.heading_82642 {
  position: absolute;
  font-size: 1em;
  top: 0.75em;
  left: 1em;
  font-weight: 600;
  text-shadow: -0.2px -0.2px 0.2px white, 0.2px -0.2px 0.2px gray,
    -0.2px 0.2px 0.2px white, 0.2px 0.2px 0.2px gray;
}

.logo2 {
  position: absolute;
  top: 6.8em;
  left: 11.7em;
}

.chip2 {
  position: absolute;
  top: 2.3em;
  left: 1.5em;
}

.contactless2 {
  position: absolute;
  top: 3.5em;
  left: 12.4em;
}

.number2 {
  position: absolute;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.75em;
  top: 7em;
  left: 1.5em;
}

.date_82642 {
  position: absolute;
  font-weight: 600;
  font-size: 0.75em;
  top: 9em;
  left: 1.5em;
  letter-spacing: 2px;
}

.cvc_number2 {
  position: absolute;
  font-weight: 600;
  font-size: 0.75em;
  top: 9em;
  left: 8.5em;
  letter-spacing: 2px;
}

.cvc2 {
  position: absolute;
  font-weight: 600;
  font-size: 5px;
  top: 6.9rem;
  left: 8rem;
}

.exp2 {
  position: absolute;
  font-weight: 600;
  font-size: 5px;
  top: 6.9rem;
  left: 3.8rem;
}

.name2 {
  position: absolute;
  font-weight: 400;
  font-size: 8.5px;
  top: 15em;
  left: 2em;
  color: #000000;
}

.strip2 {
  position: absolute;
  background-color: white;
  width: 15em;
  height: 2.25em;
  top: 0;
  border-radius: 1rem 1rem 0 0;
}

.flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}

.flip-card-front2,
.flip-card-back2 {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front2 {
  background: linear-gradient(135deg, #9b9b9b, #d9d9d9, #b3b2b2);
  border: 1px solid rgb(136, 136, 136);
}

.flip-card-back2 {
  background: linear-gradient(135deg, #9b9b9b, #d9d9d9, #b3b2b2);
  transform: rotateY(180deg);
}

.flip-card3 {
  margin: 0 auto;
  background-color: transparent;
  width: 240px;
  height: 154px;
  perspective: 1000px;
  color: rgb(0, 0, 0);
}

.heading_82643 {
  position: absolute;
  font-size: 1em;
  top: 0.75em;
  left: 1em;
  font-weight: 600;
  text-shadow: -0.2px -0.2px 0.2px white, 0.2px -0.2px 0.2px gray,
    -0.2px 0.2px 0.2px white, 0.2px 0.2px 0.2px gray;
}

.logo3 {
  position: absolute;
  top: 6.8em;
  left: 11.7em;
}

.chip3 {
  position: absolute;
  top: 2.3em;
  left: 1.5em;
}

.contactless3 {
  position: absolute;
  top: 3.5em;
  left: 12.4em;
}

.number3 {
  position: absolute;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.75em;
  top: 7em;
  left: 1.5em;
}

.date_82643 {
  position: absolute;
  font-weight: 600;
  font-size: 0.75em;
  top: 9em;
  left: 1.5em;
  letter-spacing: 2px;
}

.cvc_number3 {
  position: absolute;
  font-weight: 600;
  font-size: 0.75em;
  top: 9em;
  left: 8.5em;
  letter-spacing: 2px;
}

.cvc3 {
  position: absolute;
  font-weight: 600;
  font-size: 5px;
  top: 6.9rem;
  left: 8rem;
}

.exp3 {
  position: absolute;
  font-weight: 600;
  font-size: 5px;
  top: 6.9rem;
  left: 3.8rem;
}

.name3 {
  position: absolute;
  font-weight: 400;
  font-size: 8.5px;
  top: 15em;
  left: 2em;
  color: #000000;
}

.strip3 {
  position: absolute;
  background-color: white;
  width: 15em;
  height: 2.25em;
  top: 0;
  border-radius: 1rem 1rem 0 0;
}

.flip-card-inner3 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card3:hover .flip-card-inner3 {
  transform: rotateY(180deg);
}

.flip-card-front3,
.flip-card-back3 {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front3 {
  background: linear-gradient(135deg, #7efcfc, #dbffff, #08efec);
  border: 1px solid rgb(88, 252, 222);
}

.flip-card-back3 {
  background: linear-gradient(135deg, #7efcfc, #dbffff, #08efec);
  transform: rotateY(180deg);
}

.containerr {
  display: flex;
  align-items: center;
  /* Alinha verticalmente ao centro */
  justify-content: center;
  /* Centraliza horizontalmente */
  flex-wrap: wrap;
  /* Permite que o conteúdo se ajuste em telas menores */
  margin: 0 auto;
  /* Centraliza o container na página */
  padding: 4rem;
  width: 100%;
  height: 100%;
  --s: 260px;
  --c1: #b2b2b2;
  --c2: #ffffff;
  --c3: #d9d9d9;

  --_g: var(--c3) 0 120deg, #0000 0;
  background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
    conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
    conic-gradient(
      from 60deg at calc(200% / 3),
      var(--c3) 60deg,
      var(--c2) 0 120deg,
      #0000 0
    ),
    conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
    linear-gradient(
      90deg,
      var(--c1) calc(100% / 6),
      var(--c2) 0 50%,
      var(--c1) 0 calc(500% / 6),
      var(--c2) 0
    );
  background-size: calc(1.732 * var(--s)) var(--s);
}

.button {
  text-decoration: none;
  position: relative;
  display: inline-flex;
  height: 3.5rem;
  align-items: center;
  border-radius: 9999px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: Segoe UI;
  font-size: 1.2rem;
  font-weight: 640;
  color: #000000;
  letter-spacing: -0.06em;
}

.button-item {
  background-color: transparent;
  color: #010101;
}

.button-item .button-bg {
  border-color: rgb(0, 0, 0);
  background-color: rgb(232, 197, 0);
}

.button-inner,
.button-inner-hover,
.button-inner-static {
  pointer-events: none;
  display: block;
}

.button-inner {
  position: relative;
}

.button-inner-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(70%);
}

.button-bg {
  overflow: hidden;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.button-bg,
.button-bg-layer,
.button-bg-layers {
  display: block;
}

.button-bg-layers {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -60%;
  aspect-ratio: 1 / 1;
  width: max(200%, 10rem);
}

.button-bg-layer {
  border-radius: 9999px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
}

.button-bg-layer.-purple {
  background-color: rgb(110, 110, 110);
}

.button-bg-layer.-turquoise {
  background-color: rgb(0, 183, 183);
}

.button-bg-layer.-yellow {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 208, 116, var(--tw-bg-opacity));
}

.button:hover .button-inner-static {
  opacity: 0;
  transform: translateY(-70%);
  transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.3s linear;
}

.button:hover .button-inner-hover {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover .button-bg-layer {
  transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.3s linear;
}

.button:hover .button-bg-layer-1 {
  transform: scale(1);
}

.button:hover .button-bg-layer-2 {
  transition-delay: 0.1s;
  transform: scale(1);
}

.button:hover .button-bg-layer-3 {
  transition-delay: 0.2s;
  transform: scale(1);
}

.text-copy {
  font-size: 2vh;
} /* ARRUMAR A RESPONSIVIDADE */

@media (max-width: 600px) {
  .paginCartao {
    margin-top: 2rem;
    margin-right: 0.2rem;
  }

  */ main.containerr {
    margin: 0 auto;
  }

  div.card,
  div.card2,
  div.card3 {
    padding: 6rem;
  }
  .flip-card-front,
  .flip-card-back,
  .flip-card-front2,
  .flip-card-back2,
  .flip-card-front3,
  .flip-card-back3 {
    margin-left: -1rem;
  }
  .text-copy {
    font-size: 2vh;
    padding: 1rem;
    margin: -4rem;
  }

  .card h5 {
    font-size: 2.8vh;
  }
}

.mainmain {
  padding-top: 5rem;
  margin: 0 auto;
}

.sessaoLoguin {
  margin-top: 11rem;
  display: flex;
  /* Ativa o Flexbox */
  flex-direction: row;
  /* Garante que os itens fiquem lado a lado */
  justify-content: center;
  /* Centraliza os itens horizontalmente */
  background-color: #fff;
  padding: 1.5rem;
  gap: 3rem;
  border-radius: 3rem;
  max-width: 90%;
  /* Limita a largura máxima para ser responsivo */
  margin: 5rem auto;
  /* Centraliza com auto e reduz a margem */
  border: 5px solid #0000;
  border-radius: 3rem;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(var(--angle), #ffffff, #e65a04, #c2ae009a) border-box;
  animation: 4s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.input,
.select-input {
  border: solid 0.1rem;
  border-radius: 0.3rem;
}

div.flex-column {
  display: flex;
  padding-top: 0.8rem;
  max-width: 100%;
  /* Limita a largura máxima para ser responsivo */
}

.campodeLoguin {
  display: flex;
  align-items: center;
}

.rodape {
  color: #f6f6f6;
  margin-top: 2rem;
  padding-top: 2rem;
  margin: 0 auto;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #333;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.formm {
  text-align: center;
  display: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.button-submit {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 25px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffffff;
  background: #a16100;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #7a4900;
  border-radius: 15px;
  box-shadow: inset 0 0 0 0 #ff9100;
}

.button-submit:hover {
  color: rgb(0, 0, 0);
  box-shadow: inset 0 -100px 0 0 #ebae69;
}

.button-submit:active {
  transform: scale(0.9);
}

a.solicitar {
  color: #7a4900;
}

/* Estilo do ícone dentro do input */
.eye-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 75%;
  transform: translateY(-50%);
  color: #ff9100;
}

.flex-column {
  position: relative;
  margin-bottom: 15px;
}

input[type="password"] {
  padding-right: 30px; /* Space for the icon */
}
.custom-btn {
  background-color: #333; /* Define a cor do fundo do botão */
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra visível */
  cursor: pointer;
  animation: bounce-animation 1s infinite;
  transition: all 0.3s;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: 1px solid transparent; /* Borda invisível */
}

.custom-btn:hover {
  animation: none;
}

.custom-icon {
  width: 1.25rem;
  height: 1.25rem;
  stroke: currentColor;
  stroke-width: 2;
  fill: none;
}

@keyframes bounce-animation {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: #333;
  border-radius: 100px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 0 2px rgb(0, 0, 0);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  animation: bounce 2s infinite; /* Aplica a animação */
}

/* Definindo a animação 'bounce' */
@keyframes bounce {
  0% {
    transform: translateY(0); /* Posição inicial */
  }
  50% {
    transform: translateY(-10px); /* Sobe 10px */
  }
  100% {
    transform: translateY(0); /* Retorna à posição inicial */
  }
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: rgb(250, 171, 0);
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;

  background-color: #000;

  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #fff;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #ff8c00;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.sessaoCartaoo {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-input {
  background-color: #ffffff; /* Cor de fundo preto */
  color: #000000; /* Texto branco */
  border: 2px solid #ff8c00; /* Bordas laranja */
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  outline: none;
  appearance: none; /* Remove o estilo nativo do select */
  cursor: pointer;
  transition: background-color 0.3s;
}

.select-input:hover {
  background-color: #555; /* Cor de fundo mais clara ao passar o mouse */
  border-color: #ffa500; /* Cor da borda laranja */
  color: #f6f6f6;
}

.select-input:focus {
  background-color: #222; /* Fundo mais escuro quando em foco */
  border-color: #ff8c00; /* Borda laranja ao focar */
  box-shadow: 0 0 5px rgba(255, 140, 0, 0.7); /* Efeito de brilho na borda */
  color: #f6f6f6;
}

.select-input option {
  background-color: #333; /* Fundo das opções */
  color: #ffffff; /* Texto das opções em branco */
}

/* Tentando remover o fundo azul no hover das opções */
.select-input option:hover,
.select-input option:focus {
  background-color: #ff8c00; /* Cor de fundo laranja nas opções */
  color: #fff; /* Cor do texto branco */
}

.custom-checkbox,
#radio {
  gap: 0.5rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: row;
  color: #000000;
  font-size: 16px;
}

/* Estilo do input radio */
.custom-checkbox input[type="radio"] {
  display: none; /* Esconde os botões de rádio padrão */
}

/* Estilo da bolinha personalizada para os rádios */
.custom-checkbox .checkmark {
  color: #000;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ff8c00;
  border-radius: 50%;
  /* background-color: #333; */
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Efeito de hover na bolinha */
.custom-checkbox input[type="radio"]:hover + .checkmark {
  border-color: #ffa500;
}

/* Estilo quando o radio é selecionado */
.custom-checkbox input[type="radio"]:checked + .checkmark {
  background-color: #ff8c00; /* Laranja */
  border-color: #ff8c00; /* Laranja */
}

/* Estilo quando o radio é selecionado e em foco */
.custom-checkbox input[type="radio"]:checked + .checkmark::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333; /* Cor do "ponto" interno */
}

#password,
#confirm-password,
#renda,
#email,
#cep,
#phone,
#Name,
#criptoInvestimento {
  padding: 0.5rem;
  border: 0.1em solid #ff8c00;
  border-radius: 0.5rem;
}

#radio {
  display: none; /* Esconde o botão de rádio padrão */
}
